.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(241, 16, 8, 0.7),rgba(6, 42, 245, 0.7)), url(mainimage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header:after{
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(243, 4, 4, 0)0%, rgba(255,255,255,0)100%);
  height: 40%;
}

body{
    font-family: 'Montserrat', sans-serif;
  }
  nav img{
    width: 150px;
    margin-top: 50px;margin-left: -40px;
  }
  .nav-links{
    flex: 9;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
  }
  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #453b01;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  .txt{
    width: 90%;
    color:white;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #l1{
    margin-top: 50px;
    margin-left: 20px;
    width:10px;
    height:10px;
  }
  .foot{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  .foot h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
  .icon .fa{
    color: #f41206;
    margin:  13px;
    cursor: pointer;
    padding: 18px ;
  }

  #k1{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
  }
  #k2{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
  }
    

/*new*/

  *{
    margin: 0;
    padding: 0;
  }
  
body{
    font-family: 'Montserrat', sans-serif;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(241, 16, 8, 0.7),rgba(6, 42, 245, 0.7)), url(mainimage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .header:after{
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(243, 4, 4, 0)0%, rgba(255,255,255,0)100%);
    height: 40%;
  }
  .hbtn{
    border-radius: 2px;
  }
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 100px;
  }
  .hello{
    margin-top: -60px;margin-left: 450px;
    color:whitesmoke;
    font-size: 30px;
  }
  .h1{
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
    
  }
  #dd2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;margin-left: 10px;
    font-size: 25px;
  }
  .dd{
    margin-top:150px;
  }
  #dd1{
    margin: 0px 443px;
    font-size: 20px;color: #fff;
  }
  .foot{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  .foot h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
  .icon .fa{
    color: #830000;
    margin:  13px;
    cursor: pointer;
    padding: 18px ;
  }

  /* .about{
    width: 100%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  } */
  nav{
    display: flex;
   margin-top: -50px;margin-left: 50px;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 150px;
    margin-top: 50px;margin-left: -40px;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 50px;
  }
  b{
    font-size: 24px;
  }
  p{
    font-size: 13px;
  }
  .nav-links{
    flex: 9;
    text-align: right;
    
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
  }
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #453b01;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  .txt{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .txt h2{
    padding-top: 100px;
    font-size: 55px;
  }
  .txt p{
    margin: 10px 40px;
    font-size: 14px;
    color: #fff;
  }
  .hbtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #615302;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hbtn:hover{
    background: #0037ff;
    transition: 1s;
  }
 
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    justify-items: space-between;
  }
  .col img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
  }
  .col p{
    padding: 0;
  }
 #w1{
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
 }
 #w2{
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
 }